body{
    background: white url(../dog.jpeg);
    background-size: 100%;
    padding: 3%;

    
}

.mainav1{
    background-color:black;
    color:yellow;
    text-align: left;
    width: 20%;
    height: 10%;
    margin: left;
    float:left;

}

.mainav2{
    background-color: yellow;
    color: black;
    float: right;
    width: 80%;
    height: 10%;
    text-decoration:none;
    
}

.mainav2 li{
    display:inline;
    padding: 5%;
    text-decoration: none;
}

.content{
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   background-color: white;
   opacity: 60%;
   float: left;
 
}
.mainleft{
    background-color: yellow;
    opacity: 70%;
    float: right;

}

.content1{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: white;
  text-align:center;
 }
